html {
  text-align: center;
}

#pageContent {
  display: flex;
  flex-direction: column;
}
#overview {
  flex: 3;
}

#logo {
  width: 100px;
  height: 50px;
}

#header {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
#middle-header {
  flex: 3;
}

.button {
  background-color: #4EA2A2;
  color: white;
  width: 100px;
  font-weight: bold;
  font-size: 15pt;
  padding: 15px;
  border-radius: 20px;

  text-decoration: none;
  text-decoration-line: none;

  user-select: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}
.button:hover {
  background-color: #1A8693;
  cursor: pointer;
}
.button:active {
  background-color: #10575f;
}