html {
  text-align: center;
}

a {
  text-decoration: none;
}

#go-back-home-button {
  color: #B34233;
  font-size: 15pt;
}

#pageContent {
  display: flex;
  flex-direction: column;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#brief-overview {
  background-color: indianred;
  padding: 50px;
  width: 50%;

  margin-top: 50px;

  border-radius: 50px;
}
#page-header {
  font-size: 30pt;
  text-decoration: underline;
}
#page-text {
  font-size: 15pt;
}

#logo {
  width: 100px;
  height: 50px;
  background-color: black;
}

#header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: grey;
}
#middle-header {
  flex: 3;
}

.button {
  background-color: #4EA2A2;
  color: white;
  font-weight: bold;
  font-size: 15pt;
  padding: 15px;
  border-radius: 20px;

  user-select: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}
.button:hover {
  background-color: #1A8693;
  cursor: pointer;
}
.button:active {
  background-color: #10575f;
}
#important_button {
  background-color: #B34233;
}
#important_button:hover {
  background-color: #751A33;
}

#home-page-button {
  margin-top: 50px;
}

/* PUZZLE VIEWING ON PUBLIC PAGE */

#public-content-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 75%;
}

#small-puzzle-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
#small-puzzle-view:hover {
  background-color: #D2BF94;
  margin-left: 25px;
  margin-right: 25px;
}
#small-puzzle-view:active {
  background-color: #A08565;
}
#small-puzzle-view img{
  width: 150px;
  height: 115px;
  border: 1px solid black;
}

.tag_holder {
  display: none;
}

/* ACCOUNT VIEWING */
#account-content-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
#notif {
  text-decoration: underline;
  cursor: pointer;
}
#incoming-req, #outgoing-req {
  display: flex;
  flex-direction: column;

  border: 2px solid black;
  padding: 15px;
}
#incoming-req {
  margin-bottom: 10px;
}
.req {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;
}
.req:hover {
  background-color: #751A33;
  color: white;
}
.name {
  font-size: 15pt;
  font-weight: bold;
}
#friends-list {
  width: 75%;
  margin: 30px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h4 {
  font-size: 25pt;
}
#friends-button {
  width: 50%;
  font-size: 12pt;
  margin-bottom: 10px;
}
#account-puzzles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}
#medium-puzzle-view {
  display: flex;
  flex-direction: row;

  justify-items: center;
  align-items: center;

  padding: 15px;
  border: 2px solid black;
  margin: 10px;
}
#medium-puzzle-view:hover {
  background-color: #D2BF94;
}
#medium-puzzle-view:active {
  background-color: #A08565;
}
#medium-puzzle-view img{
  width: 150px;
  height: 115px;
  border: 1px solid black;
}
#puzzle-view {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
/* TODO */
#sharing-form label {
  text-align: right;
  display: inline-block;
}
#sharing-form input {
  text-align: right;
}

/* MODAL */
.upload-modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.friends-modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.notif-modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  padding: 50px;
}

.upload-display-block {
  display: block;
}
.upload-display-none {
  display: none;
}
.friends-display-block {
  display: block;
}
.friends-display-none {
  display: none;
}
.notif-display-block {
  display: block;
}
.notif-display-none {
  display: none;
}

#upload-form {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  padding: 25px;
}
label {
  text-align: left;
  font-size: 18pt;
}
#form-image {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#form-image img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: auto;
}
#form-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.close-button {
  border: none;
  display: inline-block;
  padding: 8px;
  padding-right: 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;

  font-size: 25pt;
}

.topright {
  position: absolute;
  right: 0;
  top: 0
}

#footer {
  margin-top: 20px;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: grey;
}